<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['shop']">Shop</a>
  </nav>
</header>
<main>
  <h1>Hello from {{api.title}}!</h1>
  <button type="button" class="btn btn-primary">Primary</button>

  <alert type="info">Hello from ng2-bootstrap  {{ date.toDateString() }}</alert>
  <alert type="info" *ngFor="let hero of heroes">
    <p>{{hero.title}}</p>
  </alert>
  <div style="display:inline-block; min-height:290px;"></div>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!--<img src="/img/angular.png">-->

  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
