<h2>Shop</h2>
<alert type="info" *ngFor="let listing of listings">
  <p>{{listing.title}}</p>
</alert>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card" *ngFor="let listing of listings">
      <img class="card-img-top" [src]="listing.MainImage.url_170x135" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{listing.title}}</h4>
        <p class="card-text">{{listing.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- .card -->
  </div> <!-- .col-x -->
</div> <!-- .row -->